files:
  "/etc/nginx/conf.d/static.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        location /static/ {
            alias /var/app/current/staticfiles/;
        }
      }
commands:
  01_reload_nginx:
    command: /usr/sbin/nginx -s reload