---
option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
files:
  /etc/cwlogs.d/migrate_log.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/migrate.log]
      file = /var/log/migrate.log
      log_group_name = /aws/elasticbeanstalk/HerkingsCRM-env/migrate
      log_stream_name = {instance_id}
  /etc/cwlogs.d/collectstatic_log.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/collectstatic.log]
      file = /var/log/collectstatic.log
      log_group_name = /aws/elasticbeanstalk/HerkingsCRM-env/collectstatic
      log_stream_name = {instance_id}
  /etc/cwlogs.d/web_stderr_log.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/web.stderr.log]
      file = /var/log/web.stderr.log
      log_group_name = /aws/elasticbeanstalk/HerkingsCRM-env/web.stderr
      log_stream_name = {instance_id}
  "/etc/cwlogs.d/superuser_log.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [/var/log/superuser.log]
      file = /var/log/superuser.log
      log_group_name = /aws/elasticbeanstalk/HerkingsCRM-env/superuser
      log_stream_name = {instance_id}
